@use "@carbon/layout";
@use '@carbon/type';

.switcherContainer {
  display: flex;
  flex-direction: column;
}
.switcherContainer ul {
  display: flex;
  flex-direction: row;
  width: 20rem;
  justify-content: flex-start;
  align-items: center;
  @include type.type-style('heading-01');
  height: 3rem;
  cursor: pointer;
}

.switcherContainer ul > svg {
  margin: 0rem 0.75rem;
}

.switcherContainer ul button {
  @include type.type-style('heading-01');
  width: 100%;
  background-color: var(--brand-02);
}

.switcherContainer ul button:hover {
  background-color: var(--brand-01);
}

.switcherContainer ul div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  @include type.type-style('body-01');
}

.switcherContainer ul div button {
  margin-left: 0.5rem;
  width: 5rem;
}

.switcherContainer ul div button:hover {
  background-color: var(--brand-01);
}

.switcherContainer hr {
  background-color: #ffffff;
  width: 16rem;
  margin: 0.5rem 0rem;
}
.topNavActionsSlot {
    display: flex;
    align-items: center;
  }

.navDivider {
    background-color: #f4f4f4;
    width: 0.07rem;
    height: 2.25rem;
  }
  
  .patientDetails {
    display: flex;
    align-items: center;
    color: #ffffff;
    padding: 0 layout.$spacing-05;
  
    &:hover {
      background-color: #032a30;
    }
  
    .patientName {
      // @include type.type-style('heading-compact-01');
      margin-right: layout.$spacing-05;
      color: #ffffff;
      margin: layout.$spacing-04 0;
      padding-right: 0.5rem;
    }
  
    .patientInfo {
      // color: $color-gray-30;
      // @include type.type-style('body-compact-01');
      margin: 0 layout.$spacing-05 0;
    }
  }